/* colors */
/* olympic colors - http://www.colourlovers.com/palette/149866/Olympic_Flag */
@import url("https://fonts.googleapis.com/css?family=Cabin:400,700|Lusitana:400,700|Monoton");
/* size */
.pos-middle {
  text-anchor: middle; }

.pos-end {
  text-anchor: end; }

.v-central {
  alignment-baseline: central; }

.v-top {
  alignment-baseline: hanging; }

.size-tiny {
  font-size: 10px; }

.size-small {
  font-size: 14px; }

.size-normal {
  font-size: 16px; }

.size-large {
  font-size: 24px; }

.stroke-1 {
  stroke-wieght: 1; }

.stroke-black {
  stroke: #212529; }

.stroke-lightGrey {
  stroke: #ced4da; }

.stroke-lightestGrey {
  stroke: #dee2e6; }

.stroke-sorted {
  stroke: #9c36b5; }

.fill-grey {
  fill: #868e96; }

.fill-lightGrey {
  fill: #ced4da; }

.fill-sorted {
  fill: #9c36b5; }

.bar-all {
  fill: #212529; }

.bar-rookies {
  fill: #099268; }

.bar-returned {
  fill: #ffd43b; }

.bar-women {
  fill: #e03131; }

.bar-men {
  fill: #1864ab; }

.web-font {
  font-family: "Lusitana", Georgia, "Times New Roman", serif; }

/* html base */
body {
  background-color: #fff;
  font-family: "Cabin", system, -apple-system, "Helvetica Neue", helvetica, arial, sans-serif;
  margin: 0;
  padding: 0; }

/* layout */
.olympic-border {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000; }
  .olympic-border div {
    min-height: 6px; }

.olympic-border-footer div {
  min-height: 4px; }

.olympic-border, .olympic-border-footer {
  display: flex; }
  .olympic-border div, .olympic-border-footer div {
    width: 20%; }
  .olympic-border .blue, .olympic-border-footer .blue {
    background-color: #1864ab; }
  .olympic-border .red, .olympic-border-footer .red {
    background-color: #e03131; }
  .olympic-border .green, .olympic-border-footer .green {
    background-color: #099268; }
  .olympic-border .yellow, .olympic-border-footer .yellow {
    background-color: #ffd43b; }
  .olympic-border .black, .olympic-border-footer .black {
    background-color: #212529; }

.container {
  position: absolute;
  top: 6px;
  width: 100%; }

.header {
  text-align: center; }
  .header .title {
    font-size: 42px;
    font-family: "Monoton";
    margin-top: 32px;
    padding-bottom: 8px;
    letter-spacing: 0.1em; }
  .header .desc {
    color: #868e96; }
    .header .desc a {
      color: #868e96; }
  .header .source {
    background-color: #f1f3f5;
    margin-top: 32px;
    padding: 16px 0; }
    .header .source select {
      margin-left: 8px; }

select {
  border: 1px solid #212529;
  font-size: 14px;
  font-family: inherit; }

.options .count-block, .options .count-all, .options .count-women, .options .count-men, .options .count-rookies, .options .count-returned {
  display: inline-block;
  padding: 1px 4px;
  color: #fff;
  border-radius: 4px; }

.options .sort-by .title, .options .show .title {
  font-family: "Cabin", system, -apple-system, "Helvetica Neue", helvetica, arial, sans-serif;
  font-weight: 700;
  margin-bottom: 8px; }

.options .sort-by {
  padding: 20px;
  text-align: left; }
  .options .sort-by select {
    width: 100%; }

.options .show {
  padding-top: 0px;
  padding-right: 20px;
  padding-bottom: 20px;
  padding-left: 20px; }
  .options .show .elm {
    font-size: 14px;
    display: flex;
    align-items: center; }
    .options .show .elm input {
      margin-right: 8px; }
    .options .show .elm:not(:first-child) {
      margin-top: 4px; }

.options .count-all {
  background-color: #212529; }

.options .count-women {
  background-color: #e03131; }

.options .count-men {
  background-color: #1864ab; }

.options .count-rookies {
  background-color: #099268; }

.options .count-returned {
  background-color: #ffd43b;
  color: #212529; }

.vis-wrapper {
  letter-spacing: 0.02em;
  overflow: scroll; }
  .vis-wrapper svg {
    border-top: 1px solid #ced4da; }

.footer .desc {
  background-color: #212529;
  margin-top: 12px;
  padding-top: 20px;
  padding-bottom: 20px;
  font-size: 14px;
  text-align: center;
  color: #adb5bd; }
  .footer .desc a {
    color: white; }

.footer .elm {
  margin-right: 16px;
  padding-right: 16px;
  border-right: 1px solid #868e96; }

/* from small screen, show the border in Option area*/
@media only screen and (min-width: 48em) {
  .show {
    border-left: 1px solid #ced4da;
    padding-top: 20px !important; } }
