@import './colors.scss';
@import './fonts.scss';
@import './d3.scss';

/* html base */
body {
  background-color: #fff;
  font-family: $sans-serif;
  margin: 0;
  padding: 0;
}

/* layout */
.olympic-border {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  div {
    min-height: 6px;
  }
}
.olympic-border-footer {
  div {
    min-height: 4px;
  }
}
.olympic-border, .olympic-border-footer {
  display: flex;
  div {
    width: 20%;
  }
  .blue {
    background-color: $blue;
  }
  .red {
    background-color: $red;
  }
  .green {
    background-color: $green;
  }
  .yellow {
    background-color: $yellow;
  }
  .black {
    background-color: $black;
  }
}
.container {
  position: absolute;
  top: 6px;
  width: 100%;
}

.header {
  text-align: center;
  .title {
    font-size: $huge;
    font-family: $display;
    margin-top: 32px;
    padding-bottom: 8px;
    letter-spacing: 0.1em;
  }
  .desc {
    color: $grey;
    a {
      color: $grey;
    }
  }
  .source {
    background-color: $oc-gray-1;
    margin-top: 32px;
    padding: 16px 0;
    select {
      margin-left: 8px;
    }
  }
}

select {
  border: 1px solid $black;
  font-size: $small;
  font-family: inherit;
}

%count-shared {
  display: inline-block;
  padding: 1px 4px;
  color: $white;
  border-radius: 4px;
}

.options {
  .sort-by, .show {
    .title {
      font-family: $sans-serif;
      font-weight: 700;
      margin-bottom: 8px;
    }
  }
  .sort-by {
    padding: 20px;
    text-align: left;
    select {
      width: 100%;
    }
  }
  .show {
    padding-top: 0px;
    padding-right: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
    .elm {
     font-size: $small;
      display: flex;
      align-items: center;
      input {
        margin-right: 8px;
      }
      &:not(:first-child) {
        margin-top: 4px;
      }
    }
  }
  .count-block {
    @extend %count-shared;
  }
  .count-all {
    background-color: $all;
    @extend %count-shared;
  }
  .count-women {
    background-color: $women;
    @extend %count-shared;
  }
  .count-men {
    background-color: $men;
    @extend %count-shared;
  }
  .count-rookies {
    background-color: $rookies;
    @extend %count-shared;
  }
  .count-returned {
    background-color: $returned;
    @extend %count-shared;
    color: $black;
  }
}

.vis-wrapper {
  svg {
    border-top: 1px solid $lightGrey;
  }
  letter-spacing: 0.02em;
  overflow: scroll;
}
.footer {
  .desc {
    background-color: $black;
    margin-top: 12px;
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: $small;
    text-align: center;
    color: $oc-gray-5;
    a {
      color: white;
    }
  }
  .elm {
    margin-right: 16px;
    padding-right: 16px;
    border-right: 1px solid $grey;
  }
}

/* from small screen, show the border in Option area*/
@media only screen and (min-width: 48em) {
  .show {
    border-left: 1px solid $lightGrey;
    padding-top: 20px !important;
  }
}
