/* colors */
$grey: #777777;
$lightGrey: #D3D3D3;
$lightestGrey: #efefef;

/* olympic colors - http://www.colourlovers.com/palette/149866/Olympic_Flag */
$blue: #00298C;
$yellow: #FFEF08;
$black: #000000;
$red: #DE1818;
$green: #087B39;

$violet: #8900C7;

$women: $red;
$men: $blue;
$all: $black;
$rookies: $green;
$returned: $yellow;
