@import '../../node_modules/open-color/open-color.scss';

/* colors */
$grey: $oc-gray-6;
$lightGrey: $oc-gray-4;
$lightestGrey: $oc-gray-3;
$white: #fff;

/* olympic colors - http://www.colourlovers.com/palette/149866/Olympic_Flag */
$blue: $oc-blue-9;
$yellow: $oc-yellow-4;
$black: $oc-gray-9;
$red: $oc-red-8;
$green: $oc-teal-8;

$sorted: $oc-grape-8;

$women: $red;
$men: $blue;
$all: $black;
$rookies: $green;
$returned: $yellow;
