@import url('https://fonts.googleapis.com/css?family=Cabin:500,700|Lusitana:400,700');
$sans-serif: 'Cabin', system, -apple-system, 'Helvetica Neue', helvetica, arial, sans-serif;
$serif: 'Lusitana', Georgia, 'Times New Roman', serif;

/* size */
$huge: 32pt;
$large: 16pt;
$normal: 12pt;
$small: 10pt;
$tiny: 8pt;